<div class="options">
    <fieldset class="quantityFieldset">
        <label for="aantal">Aantal:</label>
        <div class="quantity">
            <input name="product_quantity" type="number" value="1" min="1" max="100">
            <div>
                <button type="button" data-way="up">
                    <%- include('../../static/icons/add') %>
                </button>
                <button type="button" data-way="down">
                    <%- include('../../static/icons/delete') %>
                </button>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <label class="sausLabel" for="">Sauzen:</label>
        <div>
            <% sausjes.forEach(function(sausje) { %>
                <label class="sausjes">
                    <input type="checkbox" name="product_extra" value="<%= sausje.price %> ">
                    <img src="<%= sausje.image %>" alt="">
                    <div class="infoChoices">
                        <h4>
                            <%= sausje.title %>
                        </h4>
                        <p>
                            <%= sausje.price %>
                        </p>
                    </div>
                </label>
                <% }); %>
        </div>
    </fieldset>
</div>

<button class="addToCart">
    <%- include('../../static/icons/add') %>
        Toevoegen
</button>