<h1>Kassabon</h1>
<div>
    <% order.forEach(function(order) { %>
        <article data-id="<%= order._id %>" data-product="<%= JSON.stringify(order) %>">
            <span data-product-quantity>
                <%= order.quantity %>x
            </span>
            <ul>
                <li data-product-title>
                    <%= order.title %>
                </li>
                <li>
                    + <%= order.extra %>
                </li>
            </ul>
            <p data-product-price>
                € <%= (order.price * order.quantity) %>
            </p>
            <form action="/delete/<%= order._id %>" method="POST">
                <button>
                    <img src="../../static/images/close.png" alt="">
                </button>
            </form>
        </article>
        <% }); %>
</div>
<div>
    <form action="/order" method="POST">
        <p class="total">Totaal:<span> € </span></p>
        <button>
            <p>Afrekenen</p>
            <img src="../../static/images/arrow.png" alt="">
        </button>
    </form>
</div>