<h1>Kassabon</h1>
<div>
    <% order.order_products.forEach(function(product) { %>

        <% var curProduct=[] %>
            <% order.products.forEach(function(mainproduct) { %>
                <% if(mainproduct._id==product.product_id){ %>
                    <% curProduct=mainproduct %>
                        <% } %>
                            <% }); %>
                                <article data-id="<%= order._id %>">
                                    <span data-product-quantity>
                                        <%= product.quantity %>x
                                    </span>
                                    <ul>
                                        <li data-product-title>
                                            <%= curProduct.title %>
                                        </li>
                                        <% if(product.extra> 0){ %>
                                            <li>
                                                + <%= product.extra %>
                                            </li>
                                            <% } %>
                                    </ul>
                                    <input data-product-price type="number"
                                        value="<%= (curProduct.price * product.quantity) + parseFloat(product.extra)  %>"
                                        class="price" />
                                    <p data-product-price>
                                        € <%= (curProduct.price * product.quantity) + parseFloat(product.extra) %>
                                    </p>
                                    <form action="/delete/<%= product._id %>" method="POST">
                                        <button>
                                            <img src="../../static/images/close.png" alt="">
                                        </button>
                                    </form>
                                </article>
                                <% }); %>
</div>
<div>
    <form action="/order" method="POST">
        <p class="total">Totaal: <span class="totalPrice"></span></p>
        <button>
            <p>Afrekenen</p>
            <img src="../../static/images/arrow.png" alt="">
        </button>
    </form>
</div>