<h1>Kassabon</h1>
<div>
    <% order.order_products.forEach(function(product) { %>

        <% var curProduct=[] %>
            <% order.products.forEach(function(mainproduct) { %>
                <% if(mainproduct._id==product.product_id){ %>
                    <% curProduct=mainproduct %>
                        <% } %>
                            <% }); %>
                                <article data-id="<%= order._id %>">
                                    <span data-product-quantity>
                                        <%= product.quantity %>x
                                    </span>
                                    <ul>
                                        <li data-product-title>
                                            <%= curProduct.title %>
                                        </li>
                                        <% if(product.extra_price> 0){ %>
                                            <li>
                                                + <%= product.extra_title %>
                                            </li>
                                            <% } %>
                                    </ul>
                                    <input data-product-price type="number" value="<%= (curProduct.price * product.quantity) +
                                        (parseFloat(product.extra_price)*product.quantity)  %>" class="price" />
                                    <p class="decimal" data-product-price>
                                        <%= money((curProduct.price * product.quantity) +
                                            (parseFloat(product.extra_price)*product.quantity)) %>
                                    </p>
                                    <form action="/delete/<%= product._id %>" method="POST">
                                        <button>
                                            <img src="../../static/images/close.png" alt="">
                                        </button>
                                    </form>
                                </article>
                                <% }); %>
</div>
<div>
    <form action="/order" method="POST">
        <input type="hidden" value="" name='total_price' class="totalPrice" />
        <p class="total">Totaal: <span class="totalPrice"> </span></p>
        <button>
            <p>Afrekenen</p>
            <img src="../../static/images/arrow.png" alt="">
        </button>
    </form>
</div>

<%- include('functions') %>
    <% function money(price) { if (price) { price=parseFloat(price).toFixed(2); price +='' ; var shopCurrency='€' ; var
        x=price.split('.'); var x1=x[0]; var x2=x.length> 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        var x3 = (x1 + x2).split('.');
        var x4 = x3[0].replace(',', '.') + ',' + x3[1];

        var priceMoney = shopCurrency + '' + x4;
        } else {
        var priceMoney = '';
        }
        return priceMoney;
        }
        %>