<h1>Kassabon</h1>
<div>
    <% order.forEach(function(order) { %>
        <article data-id="<%= order._id %>" data-product="<%= JSON.stringify(order) %>">
            <span data-product-quantity>
                <%= order.product_quantity %>x
            </span>
            <ul data-product-title>
                <li>
                    <%= order.product_id %>
                </li>
                <li>
                    + extra
                </li>
            </ul>
            <p data-product-price>
                € <%= order.product_price %>
            </p>
            <form action="">
                <button data-id="<%= order._id %>" action="/delete" method="POST">
                    <img src="../../static/images/close.png" alt="">
                </button>
            </form>
        </article>
        <% }); %>
</div>
<div>
    <p class="total">Totaal:<span> €</span></p>
    <button>
        <p>Afrekenen</p>
        <img src="../../static/images/arrow.png" alt="">
    </button>
</div>