<!DOCTYPE html>
<html lang="en">
<%- include('components/head'); %>

    <body>
        <header>
            <%- include('components/header') %>

        </header>

        <section>
            <% categories.forEach(function(category, index) { %>
                <div class="<%=index==0 ? 'is-active' : '' %>" data-page="<%= category._id %>">
                    <% category.products.forEach(function(product, index) { %>
                        <article class="order col-sm-6 col-md-4 col-lg-4" data-id="<%= product._id %>"
                            data-product="<%= JSON.stringify(product) %>">
                            <img src="<%= product.image %>" data-product-image>
                            <h2 data-product-title>
                                <%= product.title %>
                            </h2>
                            <p data-product-price>
                                € <%= product.price %>
                            </p>
                        </article>
                        <% }); %>
                </div>
                <% }); %>
        </section>

        <section class="popupDisabled" id="productPopup">
            <div class="popupScreen">
                <button class="closePopupButton">
                    <%- include('../static/icons/close') %>
                </button>
                <div class="popupHeader">
                    <img class="smallPicture" src="" alt="" data-product-image>
                    <h2 data-product-title>
                    </h2>
                </div>
                <form action="/add" method="POST">
                    <input class="popupProductId" type="hidden" name="product_id" value="" data-product-id>
                    <input class="popupProductTitle" type="hidden" name="product_title" value="" data-product-title>
                    <input class="popupProductPrice" type="hidden" name="product_price" value="" data-product-price>

                    <%- include('components/counter') %>
                </form>
            </div>
        </section>

        <aside>
            <%- include('components/receipt') %>
        </aside>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
            </script>
        <script src="../static/script/main.js"></script>
        <script src="../static/script/productChoices.js"></script>

    </body>

</html>