<!DOCTYPE html>
<html lang="en">
<%- include('components/head'); %>

    <body>
        <header>
            <%- include('components/header') %>
        </header>

        <section>

            <div class="is-active" data-page="1">
                <% products.forEach(function(product) { %>
                    <article class="order col-sm-6 col-md-4 col-lg-4" data-id="<%= product._id %>"
                        data-product="<%= JSON.stringify(product) %>">
                        <img src="<%= product.image %>" data-product-image>
                        <h2 data-product-title>
                            <%= product.title %>
                        </h2>
                        <p data-product-price>
                            € <%= product.price %>
                        </p>
                    </article>
                    <% }); %>
            </div>
            <!-- <div data-page="2">
                <#%- include('components/products/snacks') %>
            </div>
            <div data-page="3">
                <#%- include('components/products/broodjes') %>
            </div>
            <div data-page="4">
                <#%- include('components/products/dranken') %>
            </div>
            <div data-page="5">
                <#%- include('components/products/handijs') %>
            </div> -->
        </section>

        <section class="popupDisabled" id="productPopup">
            <div class="popupScreen">
                <button class="closePopupButton">
                    <%- include('../static/icons/close') %>
                </button>
                <div class="popupHeader">
                    <img class="smallPicture" src="" alt="" data-product-image>
                    <h2 data-product-title>
                    </h2>
                </div>
                <form action="">
                    <input type="hidden" name="product_id" value="" data-product-id>
                    <%- include('components/counter') %>
                </form>
            </div>
        </section>

        <aside>
            <%- include('components/receipt') %>
        </aside>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
            </script>
        <script src="../static/script/main.js"></script>
        <script src="../static/script/productChoices.js"></script>

    </body>

</html>