<!DOCTYPE html>
<html lang="en">
<%- include('components/head'); %>

    <body>
        <header>
            <%- include('components/header') %>
        </header>

        <section>
            <div class="is-active" data-page="1">
                <%- include('components/products/friet') %>
            </div>
            <div data-page="2">
                <%- include('components/products/snacks') %>
            </div>
            <div data-page="3">
                <%- include('components/products/broodjes') %>
            </div>
            <div data-page="4">
                <%- include('components/products/dranken') %>
            </div>
            <div data-page="5">
                <%- include('components/products/handijs') %>
            </div>
        </section>

        <aside>
            <%- include('components/receipt') %>
        </aside>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
            </script>
        <script src="../static/script/main.js"></script>
    </body>

</html>