<% dranken.forEach(function(drankje) { %>
    <article class="order col-sm-6 col-md-4 col-lg-4" data-id="<%= drankje._id %>"
        data-product="<%= JSON.stringify(drankje) %>">
        <img src="<%= drankje.afbeelding %>" data-product-image>
        <h2 data-product-title>
            <%= drankje.titel %>
        </h2>
        <p data-product-price>
            <%= drankje.prijs %>
        </p>
    </article>
    <% }); %>