<article class="order col-sm-6 col-md-4 col-lg-4" data-id="<%= product._id %>">
    data-product="<%= JSON.stringify(product) %>
        <img src="<%=  product.afbeelding %>">
        <h2>
            <%= product.titel %>
        </h2>
        <p>
            <%= product.prijs %>
        </p>
</article>